ENVIRON=dev
URL_DEV_API=https://dev-api.myqrcards.com
URL_PROD_API=https://api.myqrcards.com

API_USER_TOKEN=
SECOND_BASIC_TOKEN=
POWER_USER_TOKEN=
TENANT_ID=
TENANT_MEMBER_ID=
APP_ID=
USER_EMAIL=
USER_PHONE=
LK_EMAIL=
LK_JWT=
EXPIRED_JWT=
TEST_LK_JWT=
MANAGER_PASSWORD=
MANAGER_EMAIL=
LK_ACCOUNT_ID=
LK_CONTACT_ID=


